* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: no-repeat url(../../public/img/bg.jpg) top/cover !important;
}

/* style pr le header */
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 20vh;
  display: flex;
  align-items: center;
}
#header * {
  transition: ease-in-out 0.3s;
}
#header h1 {
  text-transform: uppercase;
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-right: 300px;
}
#header h1:hover {
  color: #fff;
}
#header .nav-menu {
  margin-top: 10px;
  margin-right: 70px;
  width: 100%;
}
#header .nav-menu .bouton {
  background-color: rgba(255, 255, 255, 0.7);
}
#header .nav-menu ul {
  display: flex;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  margin: auto;
}
#header .nav-menu ul li {
  margin-left: 15px;
}
#header .nav-menu a {
  text-transform: uppercase;
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
#header .nav-menu a:hover {
  color: #fff;
}

/* fin header */
.container {
  margin: 30px;
}
.container h2 {
  font-size: 7rem !important;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 20px;
  position: relative;
}
.container h2:hover {
  color: rgba(255, 255, 255, 0.7);
}
.container h3 {
  font-size: 3rem !important;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 20px;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}
.container h3:hover {
  color: #fff;
}
.container .fa-facebook-f {
  position: absolute;
  right: 30px;
  top: 30%;
  font-size: 1.5rem;
  color: #fff;
}
.container .fa-facebook-f:hover {
  color: rgba(255, 255, 255, 0.7);
}
.container .fa-twitter {
  position: absolute;
  right: 30px;
  top: 37%;
  font-size: 1.5rem;
  color: #fff;
}
.container .fa-twitter:hover {
  color: rgba(255, 255, 255, 0.7);
}
.container .fa-instagram {
  position: absolute;
  right: 30px;
  top: 44%;
  font-size: 1.5rem;
  color: #fff;
}
.container .fa-instagram:hover {
  color: rgba(255, 255, 255, 0.7);
}
.container .fa-snapchat-ghost {
  position: absolute;
  right: 30px;
  top: 51%;
  font-size: 1.5rem;
  color: #fff;
}
.container .fa-snapchat-ghost:hover {
  color: rgba(255, 255, 255, 0.7);
}
.container .fa-whatsapp {
  position: absolute;
  right: 30px;
  top: 58%;
  font-size: 1.5rem;
  color: #fff;
}
.container .fa-whatsapp:hover {
  color: rgba(255, 255, 255, 0.7);
}

footer {
  margin-top: 400px;
  background: rgba(255, 255, 255, 0.08);
  height: 40vh;
}
footer .para1 {
  border: 5px solid rebeccapurple;
  padding: 40px;
}
footer span {
  padding-top: 20px;
  margin-right: 40px;
  font-size: 1rem;
}
footer .copy {
  font-size: 10px;
}

/* FIN FOOTER */
@media screen and (max-width: 991px) {
  /* style pr le header */
  #header {
    height: 30vh;
  }
  #header h1 {
    font-size: 1.5rem;
  }

  /* fin header */
  .container h2 {
    font-size: 4rem !important;
  }
  .container h3 {
    font-size: 2rem !important;
    margin-bottom: 40px;
  }

  /* FIN MAIN */
  footer {
    margin-bottom: 30px;
  }
  footer span {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 14px;
  }
  footer .copy {
    font-size: 10px;
  }

  /* FIN FOOTER */
}

/*# sourceMappingURL=style.css.map */
